    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
}

.main{
    position:relative;
    height:100vh;
    width:100%;
    background-image: url("mosque.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:60px;
    color:white;
}

.main::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:1;
}

.content{
    position:relative;
    z-index:2;
    max-width:600px;
}

.urdu {
  direction: rtl;
  font-size:200px;
  font-weight: bold;
  text-align:right;
  position:relative;
  top:-450px;
  margin-left:10px;
  

  background: linear-gradient(
    to right,
    gold,
    
    white
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  


@keyframes glow{
    from{ opacity:0.6; }
    to{ opacity:1; text-shadow:0 0 25px darkgoldenrod; }
}

.title{
    font-size:90px;
    color:#ffcc66;
    margin-bottom:15px;
    animation: glowMove 3s ease-in-out infinite alternate;
    
  font-family: 'Great Vibes', cursive;
 

  background: linear-gradient(to right, gold, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 15px rgba(255, 215, 0, 0.7);

    
}

@keyframes glowMove{
    0%{ text-shadow: 0 0 10px #ffcc66; }
    100%{ text-shadow: 0 0 30px orange; }
}

.message{
    font-size:22px;
    background: linear-gradient(1deg, gold, white, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom:20px;
}

button{
    margin:10px 10px 0 0;
    padding:12px 30px;
    font-size:16px;
    font-weight:bold;
    background-color:palegoldenrod;
    color:black;
    border:none;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s ease;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 0 20px orange;
}

.hidden{
    display:none;
    margin-top:20px;
    font-size:18px;
    color: lightpink;
 
}

.from{
    position:fixed;
    bottom:20px;
    left:20px;
    font-size:18px;
    color:gold;
    text-shadow:0 0 10px gold;
}

@media(max-width:768px){
    .title{ font-size:40px; }
    .message{ font-size:16px; }
    .urdu{ font-size:25px; }
}